VOTING_SERVICE_PORT=8002
REDIS_URL=redis://localhost:6379/0
POSTGRES_DSN=postgresql://postgres:postgres@localhost:5432/planning_poker
JIRA_SERVICE_URL=http://localhost:8001
CMS_USERNAME=admin
CMS_PASSWORD=
